# loopback
auto lo
iface lo inet loopback

# eth0 through eth3, ib0 through ib3
auto  eth0 
auto  eth1 
auto  eth2 
auto  eth3
auto  ib0
auto  ib1
auto  ib2
auto  ib3

iface eth0 inet dhcp

iface eth1 inet dhcp

iface eth2 inet dhcp

iface eth3 inet dhcp

iface ib0 inet static

iface ib1 inet static

iface ib2 inet static

iface ib3 inet static

