auto lo
iface lo inet loopback

### virtual switch1 for HyperConvergence
## network tap
auto tap100
iface tap100 inet manual
  vde2-switch -t tap100

## virtual switch
auto br100
iface br100 inet static
  bridge-ports tap100
  address 10.0.0.1/24

### virtual switch2 for HyperConvergence with 6 gre tunnels
auto br600=br600
allow-ovs br600
iface br600 inet manual
	ovs_type OVSBridge
	ovs_ports gre0 gre1 gre2 gre3 gre4 gre5
	ovs_extra set bridge ${IFACE} stp_enable=true
	mtu 1462

allow-br600 gre0
iface gre0 inet manual
	ovs_type OVSPort
        ovs_bridge br600
	ovs_extra set interface ${IFACE} type=gre options:remote_ip=1.0.1.1

allow-br600 gre1
iface gre1 inet manual
        ovs_type OVSPort
        ovs_bridge br600
        ovs_extra set interface ${IFACE} type=gre options:remote_ip=1.1.1.1

allow-br600 gre2
iface gre2 inet manual
        ovs_type OVSPort
        ovs_bridge br600
        ovs_extra set interface ${IFACE} type=gre options:remote_ip=1.2.1.1

allow-br600 gre3
iface gre3 inet manual
        ovs_type OVSPort
        ovs_bridge br600
        ovs_extra set interface ${IFACE} type=gre options:remote_ip=1.3.1.1

allow-br600 gre4
iface gre4 inet manual
        ovs_type OVSPort
        ovs_bridge br600
        ovs_extra set interface ${IFACE} type=gre options:remote_ip=1.4.1.1

allow-br600 gre5
iface gre5 inet manual
        ovs_type OVSPort
        ovs_bridge br600
        ovs_extra set interface ${IFACE} type=gre options:remote_ip=1.5.1.1

#auto docker0=docker0
#iface docker0 inet static
#    address 172.17.42.1
#    network 172.17.0.0
#    netmask 255.255.0.0
#    bridge_ports br600
#    mtu 1462
